* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(27, 27, 27);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hero {
  position: relative;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
li {
  display: inline-block;
}
.nav-wrapper ul {
  margin-bottom: 0;
}
.nav-wrapper ul li a {
  text-decoration: none;
  color: #1b1b1b;
  display: block;
  padding: 10px;
  font-size: 18px;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.nav-wrapper ul li a.active {
  border-bottom: 1px solid #c7a768;
  color:#a16b00;
}
nav.fixed_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  padding: 10px 0;
}

/* hero section */
section.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin-top: 77px;
  text-align: center;
}
section.hero video {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateX(-50%) translateY(-50%); */
  height: auto;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-content {
  width: 100%;
  background: rgb(0 0 0 / 38%);
  height: 100%;
}
.hero-content .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hero-content .text h1 {
  color: #fff;
  font-weight: 700;
}
.hero-content .text p {
  color: #fff;
  font-size: 24px;
}
.hero-content .text button {
  color: rgb(255, 255, 255);
  background-color: rgb(234 156 0);
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
.text_header h3 {
  text-align: center;
  color: rgb(201, 134, 0);
  font-size: 40px;
  margin: 35px 0;
  text-transform: uppercase;
  font-weight: 700;
}

/* about content */
p.title {
  color: rgb(27, 27, 27);
  font-size: 24px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  /* color:#26ae78 */
}
p {
  color: rgb(94, 94, 94);
}
.card_view {
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(72 69 224 / 10%);
  transition: 0.5s;
  text-align: left;
  border: 1px solid rgb(255 228 173);
}
.card_view:hover {
  transform: translateY(-10px);
  border-color: transparent;
}

/* travel management */
.travel_management h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 27px;
  color: rgb(27, 27, 27);
  margin-bottom: 20px;
}
.travel_management .single_content p {
  color: rgb(27, 27, 27);
  font-family: Arial, Helvetica, sans-serif;
}
.travel_management .single_content p.title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
/* mail section */
.mail_section h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: rgb(27, 27, 27);
  margin-bottom: 20px;
}
.mail_section p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(27, 27, 27);
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
.submit_email {
  max-width: 650px;
  display: block;
  margin: 0 auto;
}
.submit_email input {
  width: 85%;
  outline: none;
  padding: 10px;
  border: 1px solid rgb(246, 246, 246);
  background: rgb(246, 246, 246);
}
.submit_email input:focus {
  border: 1px solid rgb(140 140 140);
}
.submit_email button {
  padding: 10px 20px;
  outline: none;
  border: 1px solid rgb(201, 134, 0);
  background-color: rgb(201, 134, 0);
  font-weight: 600;
  color: #fff;
}

/* footer section */
footer.footer_section {
  background: #161616;
}
footer.footer_section h3 {
  color: #f7f7f7;
  margin-bottom: 20px;
}
footer.footer_section p,
footer.footer_section p span {
  color: #a4a4a4;
  margin-bottom: 5px;
}
footer.footer_section p span a {
  color: #ea9c00;
}
footer.footer_section .whatsapp a {
  display: block;
  background: #fff;
  padding: 12px 15px;
  width: fit-content;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border-radius: 2px;
  margin-bottom: 30px;
}
footer.footer_section button {
  padding: 10px 15px;
  outline: none;
  border: none;
  background: rgb(201, 134, 0);
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 2px;
}
.copyright a {
  color: rgb(201, 134, 0);
  text-decoration: none;
}

/* footer changeable section */
.first_footer_view,.second_footer_view{
  transition:.5s;
}
.second_footer_view h2{
  color: #ea9c00;
}
.form-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single_form{
  width: 48%;
  margin-bottom: 10px;
}
.single_form,.message_box{
  padding: 10px;
  outline: none;
  background: #000;
  color: #fff;
  border: none;
}
.message_box{
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form_label label{
  color:#a4a4a4;
  cursor: pointer;
}
.cancel_btn,.cancel_btn:hover{
  text-decoration: none;
  color:#ea9c00;
  font-weight: 700;
}
.footer_toggle_content{
  position: relative;
}
.first_footer_view.active,.second_footer_view.active{
  position: absolute;
  left: -9999px;
}
/* head title */
.content{
  margin-top: 120px;
}
.head_title h2{
  font-weight: bold;
  color: #ea9c00;
  text-align: center;
  margin-bottom: 50px;
}
.card_view.text-center p.text{
  font-size: 19px;
}